html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700;1,900&display=swap");
body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.75; //42px
}
.mb-1 {
  margin-bottom: 4px;
}
.mb-2 {
  margin-bottom: 8px;
}
.mb-3 {
  margin-bottom: 12px;
}
.mb-4 {
  margin-bottom: 16px;
}
.mb-5 {
  margin-bottom: 20px;
}
.mb-6 {
  margin-bottom: 24px;
}
.mb-7 {
  margin-bottom: 28px;
}
.mb-8 {
  margin-bottom: 32px;
}
.mb-10 {
  margin-bottom: 40px;
}
.mb-14 {
  margin-bottom: 56px;
}
.mb-17 {
  margin-bottom: 68px;
}
.mr-4 {
  margin-right: 16px;
}
.mr-6 {
  margin-right: 24px;
}
.pb-6 {
  padding-bottom: 24px;
}
.py-14 {
  padding: 56px 0;
}
.py-16 {
  padding: 64px 0;
}
.lh-9 {
  line-height: 36px;
}
.text-center {
  text-align: center;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.banner {
  background-image: url(./img/banner.png);
  height: 958px;
  background-size: cover;
  background-position: center center;
  border: 1px solid #707070;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.name {
  font-size: 80px;
  line-height: 106px;
}
.socialList {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.title {
  font-size: 64px;
  line-height: 84px;
}
.aboutList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutItem {
  display: flex;
  align-items: center;
}
.division {
  width: 384px;
  border-bottom: 1px solid black;
}
.aboutCircle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #891818;
}
.brand {
  background-color: black;
  color: white;
  padding: 56px 0 160px;
}
.subtitle {
  font-size: 20px;
  line-height: 30px;
}
.brandList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.works {
  padding: 56px 0 144px;
}
.worksList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px 24px;
  font-size: 20px;
  line-height: 42px;
}
.contact {
  background-color: black;
  color: white;
}
.contactLink {
  color: white;
  &:hover {
    text-decoration: underline;
  }
}
